# 2.7 Extra Challenge (done)

In [1]:
# to make the .py script runnable
#!/usr/bin/env python

In [2]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('ggplot')

In [3]:
import os

## 2.7.1 Data Context

A retailer has approached you because he is unable to get a grip on the sales forecasting of the stores. He believes he has good data quality but he does not know how to leverage this data in order to create a better forecast. He would like both short and long term forecasts. The following information has been provided by the retailer: 

store_info.csv

Information on the type and size of the various stores

historic_sales.csv

* Store - the store number
* Dept - the department number
* Date - the week
* Weekly_Sales -  sales for the given department in the given store
* IsHoliday - whether the week is a special holiday week

features.csv

* Store - the store number
* Date - the week
* Temperature - average temperature in the region
* Fuel_Price - cost of fuel in the region
* MarkDown1-5 - anonymized data related to promotional markdowns
* CPI - the consumer price index
* Unemployment - the unemployment rate
* IsHoliday - whether the week is a special holiday week

## 2.7.2 Your task

1. Import and explore the data 
2. Do your basic sanity checks - there might be some issues...
3. If data is missing or incorrect, impute something
4. Merge the two data tables
5. Calculate the summary statistics for this data

In [5]:
#df_historic = pd.read_csv("data/historic_sales.csv", sep="|")
df_historic = pd.read_csv("data/historic_sales.csv", sep="|", index_col="Unnamed: 0")

/Users/AVNH/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (2,5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
df_historic.shape

(421570, 5)

In [30]:
df_historic.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421570 entries, 0 to 421569
Data columns (total 5 columns):
Store           421570 non-null int64
Dept            421570 non-null object
Date            421570 non-null object
Weekly_Sales    418805 non-null object
IsHoliday       421569 non-null object
dtypes: int64(1), object(4)
memory usage: 19.3+ MB

In [31]:
df_historic.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday'], dtype='object')

In [22]:
df_historic.describe()

          Unnamed: 0          Store
count  421570.000000  421570.000000
mean   210784.500000      22.200546
std    121696.920829      12.785297
min         0.000000       1.000000
25%    105392.250000      11.000000
50%    210784.500000      22.000000
75%    316176.750000      33.000000
max    421569.000000      45.000000

In [32]:
df_historic.index

Int64Index([     0,      1,      2,      3,      4,      5,      6,      7,
                 8,      9,
            ...
            421560, 421561, 421562, 421563, 421564, 421565, 421566, 421567,
            421568, 421569],
           dtype='int64', length=421570)

In [33]:
df_historic.head()

   Store Dept        Date Weekly_Sales IsHoliday
0      1    1  2010-02-05      24924,5     False
1      1    1  2010-02-12     46039,49      True
2      1    1  2010-02-19     41595,55     False
3      1    1  2010-02-26     19403,54     False
4      1    1  2010-03-05      21827,9     False

In [34]:
df_historic.tail()

        Store Dept        Date Weekly_Sales IsHoliday
421565     45   98  2012-09-28       508,37     False
421566     45   98  2012-10-05        628,1     False
421567     45   98  2012-10-12      1061,02     False
421568     45   98  2012-10-19       760,01     False
421569     45   98  2012-10-26       1076,8     False

In [35]:
df_historic.sample()

        Store Dept        Date Weekly_Sales IsHoliday
241486     25   33  2011-12-23      5422,59     False

In [38]:
#df_features = pd.read_csv("data/features.csv", sep="|")
df_features = pd.read_csv("data/features.csv", sep="|", index_col="Unnamed: 0")

In [39]:
df_features.columns

Index(['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
       'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
       'IsHoliday'],
      dtype='object')

In [40]:
df_features.shape

(8190, 12)

In [41]:
df_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8190 entries, 0 to 8189
Data columns (total 12 columns):
Store           8190 non-null int64
Date            8190 non-null object
Temperature     8190 non-null float64
Fuel_Price      8190 non-null float64
MarkDown1       4032 non-null float64
MarkDown2       2921 non-null float64
MarkDown3       3613 non-null float64
MarkDown4       3464 non-null float64
MarkDown5       4050 non-null float64
CPI             7605 non-null float64
Unemployment    7605 non-null float64
IsHoliday       8190 non-null bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 775.8+ KB

In [42]:
df_features.describe()

,Store,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
count,8190.000000,8190.000000,8190.000000,4032.000000,2921.000000,3613.000000,3464.000000,4050.000000,7605.000000,7605.000000
mean,23.000000,59.356198,3.405992,7032.371786,3384.176594,1760.100180,3292.935886,4132.216422,172.460809,7.826821
std,12.987966,18.678607,0.431337,9262.747448,8793.583016,11276.462208,6792.329861,13086.690278,39.738346,1.877259
min,1.000000,-7.290000,2.472000,-2781.450000,-265.760000,-179.260000,0.220000,-185.170000,126.064000,3.684000
25%,12.000000,45.902500,3.041000,1577.532500,68.880000,6.600000,304.687500,1440.827500,132.364839,6.634000
50%,23.000000,60.710000,3.513000,4743.580000,364.570000,36.260000,1176.425000,2727.135000,182.764003,7.806000
75%,34.000000,73.880000,3.743000,8923.310000,2153.350000,163.150000,3310.007500,4832.555000,213.932412,8.567000
max,45.000000,101.950000,4.468000,103184.980000,104519.540000,149483.310000,67474.850000,771448.100000,228.976456,14.313000