# 1.2. Built in Data Types and their Methods (done)

In [ ]:
# to make the .py script runnable
#!/usr/bin/env python

In [ ]:
from sklearn import datasets
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
plt.style.use('ggplot')

> Python has a small set of built-in types for handling numerical data, strings, boolean (True or False) values, date/time, missing values. 

These are the quintessential building blocks for storing and manipulating data in Python.

### Python primitives

```python
None- The Python Null Value
str, unicode- for strings
int- signed integer whose maximum value is platform dependent.
long- large ints are automatically converted to long
float- 64-bit (double precision) floating point numbers
bool- a True or False value
```
Check the data type of an object using `type()` or `isinstance()`

The Python function isinstance() takes as input two things - an object and a type. It returns a True if the object
belongs to the type specified.

## 1.2.1 Ints and Floats

In [ ]:
i = 78

In [ ]:
i

In [ ]:
f = 3.142

In [ ]:
f

In [ ]:
i*2

In [ ]:
i+f

### 1.2.1.1 Functions, methods and attributes

In [ ]:
#i. # delete the first '#' and press tab to explore options

In [ ]:
#f. # delete the first '#' and press tab to explore options

In [ ]:
type(i) #This is a function

In [ ]:
type(f)

In [ ]:
type(i+f)

In [ ]:
round(f)

In [ ]:
f.hex() #this is a method

In [ ]:
f.is_integer()

Delete the following '#' before proceeding. You will have to give some input yourself.

In [ ]:
ex_int = input('Please type an integer: ')
print(ex_int)
print(type(ex_int))
ex_fl = input('Please type a float: ')
print(ex_fl)
print(type(ex_fl))
print(ex_int+ex_fl)

## 1.2.2 Strings

In [ ]:
s = 'A hot air balloon'

In [ ]:
s2 = "This is also a string" #note that both ' and " work

s3 = """
This is a multi line comment/string
"""

In [ ]:
# Plus signs concatenate. Note that * works differently than with integeres and floats. It depends on type. 
#The same holds for, e.g., '*':

s + ' will come down eventually' + ' because the air runs out.'

In [ ]:
# Multiplications also concatenate

'Macbook ' * 4

In [ ]:
s+str(i) #Delete the '#' before proceeding

In [ ]:
x = 7
y = f"{x} is the value"
print(y)

### 1.2.2.1 Functions, methods and attributes

In [ ]:
type(s)

In [ ]:
len(s)

In [ ]:
#s. # delete the first '#' and press tab to explore options

In [ ]:
s.capitalize()

In [ ]:
s.endswith('loon')

In [ ]:
s.startswith('a hot')

In [ ]:
# Splitting a string gives a List
s.split(" ")

In [ ]:
l_1 = s.split(' ') #XXX
type(l_1)

Delete the following '#', you will need to give some input yourself.

In [ ]:
ex_str = input('Please type a string, do not forget the quotes: ')
print(ex_str)
type(ex_str)

### 1.2.2.2 String Subsetting
- Indexing start from 0.
- The last number of the range is NOT included.

In [ ]:
# Extract a single character by its position
s[2]

In [ ]:
print(s[4], s[0], s[-1])

In [ ]:
# Extract many characters using SPLICES
s[5:]

In [ ]:
s[:10] # #note that this runs from item 0 to item 9. So, l[a:b], does not include item b

In [ ]:
s[2:5]

In [ ]:
# Skipping over characters
s[::2]

In [ ]:
s[:15:3]

In [ ]:
print(s2)

In [ ]:
s2[::-1]

In [ ]:
list('abcd' * 5)[:10]

### 1.2.2.3 Look for substrings within strings

use of *`in`* keyword

In [ ]:
'air' in s

In [ ]:
'fare' in s

- the `find()` and `index()` methods

In [ ]:
s.find('air')

In [ ]:
s.find('hair')

In [ ]:
s.index('hot')

In [ ]:
s.index('pot') # delete the '#'. What went wrong?

### Task 1: Experiment with and understand 5 string methods not listed here. Think of an application for them.

In [ ]:
'  Some spaces in the front. Some at the end. . . . .   '.strip()

In [ ]:
s.replace('hot', 'pot')

In [ ]:
'10'.isdigit()

In [ ]:
value = 10.0
value.is_integer()

In [ ]:
value = 10.9
value.is_integer()

In [ ]:
'19.23'.isdigit()

In [ ]:
print(l_1)

In [ ]:
' '.join(l_1)

In [ ]:
'_@_'.join(l_1)

### 1.2.2.4 Substitutions using the `.format()` method

In [ ]:
s_5 = "{}'s favourite food is {}"

In [ ]:
s_5.format('Dushyant', 'Butter Chicken')

In [ ]:
s_5.format('Shyamalini', 'Ice Cream')

### 1.2.2.5 Advanced searching in strings: `search()`, `match()` and `sub()`

In [ ]:
import re

In [ ]:
string1 = 'Play around with this string'
print(string1)

In [ ]:
matchObj = re.match( r'around', string1) #Compares with the beginning of the string
print(matchObj)                          #the r' indicates a raw string
print(bool(matchObj))

In [ ]:
searchObj = re.search( r'around', string1) #Looks anywhere in the string
print(searchObj)
print(bool(searchObj))

In [ ]:
searchObj.group() #returns the entire match/search. 
#Arguments can specify which parts of the match/search are returned

In [ ]:
string2 = re.sub(r'string', 'sentence', string1)
print(string2)

In [ ]:
string3 = re.sub(r'with (.*)', '', string1)
print('#'+string3.strip()+'#')

These are very advanced and flexible methods. See https://www.tutorialspoint.com/python/python_reg_expressions.htm

## 1.2.3 Booleans

In [ ]:
1 == 1

In [ ]:
1 != 1

In [ ]:
4 < 5

In [ ]:
x = 5 < 2
print(x)

In [ ]:
(4 < 5) and x

In [ ]:
x = True

### 1.2.3.1 Functions, methods and attributes

In [ ]:
#x. # delete the first '#' and press tab to explore options

In [ ]:
type(x)

In [ ]:
y = False

In [ ]:
x or y

In [ ]:
(5 > 2) | (10 < 3)

In [ ]:
(5 > 2) & (10 < 3)

### 1.2.3.2 Interactions with other types

In [ ]:
x + x

In [ ]:
type(x*y)

In [ ]:
2*y

In [ ]:
type(2*x)

In [ ]:
3+x

In [ ]:
type(3+x)

In [ ]:
#'This is ' + x # Delete the first '#', what went wrong?

## 1.2.4 Explicit Type Conversion

In [ ]:
# int to str
str(12345)

In [ ]:
# int to str

'Apple' + str(7)

In [ ]:
# str to int

int('123')

In [ ]:
# str to float

float('3.142')

In [ ]:
b = True
'This is ' + str(b)

In [ ]:
'The first four digits of Pi are ' + str(3.142)

In [ ]:
'The first four digits of Pi are {}'.format(3.142)

### Task 2 :  Delete the '#' and fix the error in this

In [1]:
'I have eaten ' + str(99) + ' burritos'

'I have eaten 99 burritos'

## 1.2.5 `NoneType`

In [ ]:
n = None

In [ ]:
#n. # delete the first '#' and press tab to explore options
# no methods or attributes

In [ ]:
n == None

---
## Next to strings , there are other types of (ordered) sets.
---

## 1.2.6 Lists

In [ ]:
l1 = [3,2.54,'hello', True]
print(l1)
type(l1)

In [ ]:
l2 = ['a list within a list?', l1, 4 > 3]
print(l2)

In [ ]:
2*l1

In [ ]:
l1 + [5,-9,' goodbye', 8]

In [ ]:
#l1*l2 # Delete the first '#'. What went wrong? Why?

### 1.2.6.1 Functions, methods and attributes

In [ ]:
#l1. # delete the first '#' and press tab to explore options

In [ ]:
'hello' in l1

In [ ]:
l1.append(3)
print(l1)
l1.append(3)
print(l1)

### 1.2.6.2 List Subsetting

Subsetting works in a similar way as strings:

In [ ]:
l1[0]

In [ ]:
l1[-1]='this is the last item' #listelementcan be changed
print(l1)

In [ ]:
l1[1:3] # note that, as with strings, element 3 is not included

In [ ]:
list('abcd' * 5)[:10] #note that this first changes the type of 'abcd' to list.

## 1.2.7 Sets

- Sets are declared with { }. 
- Note that a set can have elements of different types.
- you cannot call an element with a number, so this set is unordered.
- Sets only contain unique items, so no elements can be contained twice in one set.

In [ ]:
set1 = {1,2,3}
print(set1)

In [ ]:
#set1[1] #Delete the first '#'. This doesn't work, sets are unordered.

In [ ]:
list1=[2, True, 'This is a string']
print(list1)

In [ ]:
set_from_list = set(list1) # Note that the items are from different types
print(set_from_list) # It might look like the order is wrong, this is not the case, as there is no order.

### 1.2.7.1 Functions, methods and attributes

In [ ]:
#set1. # delete the first '#' and press tab to explore options

In [ ]:
print(set1)

In [ ]:
set2={2,3,11,12,13,14}

In [ ]:
set1.add(8)
print(set1)

In [ ]:
set1.update([4,5], {1,6,8})
print(set1)

In [ ]:
set1.remove(6)
print(set1)

In [ ]:
len(set1)

Logical set operators can be evoced with symbols or with methods. With `update` added to the syntax (e.g. `intersection_update()`). It updates the set with the argument set.

In [ ]:
set1 = {1,2,3}
print(set1)

In [ ]:
set2={2,3,11,12,13,14}
print(set2)

In [ ]:
print(set1 & set2)
print(set1.intersection(set2))

In [ ]:
print(set1 | set2)
print(set1.union(set2))

In [ ]:
print(set1 - set2)
print(set1.difference(set2))

In [ ]:
print(set1 ^ set2)
print(set1.symmetric_difference(set2))

In [ ]:
print(set1)
set1.intersection_update(set2)
print(set1)

Sets can be used to filter out duplicate items of a list.

In [ ]:
filterlist = [1,True, 'This is a string', 'This is also a string', 12, True, 12]
print(filterlist)

In [ ]:
filterset=set(filterlist)
print(filterset)

In [ ]:
updatedlist=list(filterset)
print(updatedlist)

In [ ]:
updatedlist[:2]

## 1.2.8 Tuples

- Tuples are declared with ( ).
- They can contain different types.
- you call an element with a number, so this set is ordered.
- Tuples are immutable, their items cannot be changed.

In [ ]:
tup = (-5, True, [1,2,3],'This is a stringelement of a tuple')

In [ ]:
type(tup)

In [ ]:
tup[2:] #subsetting works similar to strings and lists.

In [ ]:
#tup[0]=2 #Delete the first '#'. The main difference with strings is that, once constructed, the tuple cannot be changed.

### 1.2.8.1 Functions, methods and attributes

In [ ]:
#tup. # delete the first '#' and press tab to explore options

In [ ]:
tup2=('Hello', False, 9)

In [ ]:
tup+tup2

In [ ]:
tup*2

In [ ]:
#tup*tup2 #Delete the first '#', why isn't this working?

### 1.2.8.2 Unpacking Tuples

In [ ]:
a, b, c = (1, 2, 3)

In [ ]:
b, c = c, b

In [ ]:
print(a, b, c)

## 1.2.9 Dictionaries

- Dictionaries are declared with { : }.
- They can contain different types.
- The keys to call an item can be of any type and should be explicitly defined. This is an unordered set.

In [ ]:
dict_1 = {False: 'abc', 'key_2': 10,'key_3': [1, 2, 3], 4: (1, 2)}

In [ ]:
type(dict_1)

In [ ]:
dict_1['key_2']

In [ ]:
dict_1[4]

In [ ]:
type(dict_1[False])

### 1.2.9.1 Functions, methods and attributes

In [ ]:
#dict_1. # delete the first '#' and press tab to explore options

In [ ]:
dict_1.keys()

In [ ]:
print(dict_1)

In [ ]:
dict_1.items()

In [ ]:
dict_1.values()

In [ ]:
dict_1['newkey'] = 'Look! A new item!'

In [ ]:
print(dict_1)

In [ ]:
dict_1['key_2']='now, we can change an item, even changing its type'

In [ ]:
print(dict_1)

In [ ]:
dict_2={1:1, False : 'this is a boolean', (1,2):['this','is','a','list']}

In [ ]:
print(dict_2)

In [ ]:
#dict_2. # delete the first '#' and press tab to explore options

Delete the following '#'s, why is the code failing?

In [ ]:
dict_1+dict_2

In [ ]:
#dict_1*dict_2

In [ ]:
#dict_1*2

### Zip example

In [ ]:
list1 = ["a","b","c"]
list2 = [1,2,3]

zipex = zip(list1,list2)
print(zipex)

dictex = dict(zipex)
print(dictex)